version: '3.9'
services:
  bot:
    build: .
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    depends_on:
      - redis

  celery:
    build: .
    command: watchfiles --filter python "celery -A tasks worker --loglevel=info" /app
    env_file: .env
    volumes:
      - ./:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    depends_on:
      - redis

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
