version: '3.9'
services:
  bot:
    build: .
    env_file: .env
    restart: unless-stopped
    depends_on:
      - redis

  celery:
    build: .
    command: celery -A tasks worker --loglevel=info
    env_file: .env
    depends_on:
      - redis

  redis:
    image: redis:7
    restart: unless-stopped
